* {
  scroll-behavior: smooth;
}
body {
  background-image: url("./backgroundimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: #0db4ba;*/
}
h1 {
  color: rgb(234, 234, 234);
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 2%;
  color: #00ffddc5;
}

/*Quote Box Start*/
.quote {
  color: rgb(234, 234, 234);
  border-radius: 25px;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(52, 52, 52, 0.687);
}
.quote .maindiv {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2%;
}

.quobox {
  display: block;
  border-radius: 25px;
  margin: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  border: 4px solid rgba(0, 128, 0, 0.895);
  background-color: rgba(241, 225, 2, 0.788);
  color: red;
  font-size: 22px;
}
.quote .maindiv {
  padding: auto;
}
.quote .maindiv .button {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Button Desing Start */
.butn1 {
  display: block;
  background-color: #76ef00;
  height: 50px;
  width: 50px;
  border-radius: 40%;
  color: #040301;
  border: 3px solid #1a9fe4;
}

.butn2 {
  display: block;
  background-color: #1a9fe4;
  height: 50px;
  width: 50px;
  border-radius: 40%;
  color: #040301;
  border: 3px solid #f20000;
}

.butn3 {
  display: block;
  background-color: #f25a1d;
  height: 50px;
  width: 50px;
  border-radius: 40%;
  color: #040301;
  border: 3px solid #76ef00;
}

.butn4 {
  display: block;
  background-color: #f20000;
  height: 50px;
  width: 50px;
  border-radius: 40%;
  color: #040301;
  border: 3px solid #040301;
}

/* Button Desing End*/

/*Quote Box End*/

/*Converter Box Start*/
.convertar {
  color: rgb(234, 234, 234);
  border-radius: 25px;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(52, 52, 52, 0.687);
}
/*Converter Box End*/
.convertar .conv {
  text-align: center;
  margin: auto;
  padding: auto;
  align-items: center;
  font-size: 25px;
}
.convertar .conv input {
  font-size: 18px;
}
.convertar .conv select {
  font-size: 21px; /* Green */
  text-decoration: wavy;
  margin: auto;
  cursor: pointer;
  padding: auto;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background-color: #007c4ea9;
}
.convertar .conv button {
  background-color: #007c4fa2; /* Green */
  text-decoration: wavy;
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: auto;
  font-size: 20px;
}
/*Min MAx Box Start*/
.minmax {
  color: rgb(234, 234, 234);
  font-size: 22px;
  border-radius: 25px;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(52, 52, 52, 0.687);
  padding-bottom: 10px;
}
#innumb {
  font-size: 18px;
}
.minmaxsum {
  text-align: center;
  padding: 1%;
  margin-top: 3%;
}
/*Min MAx Box End*/

/*magic Box Design Start*/
.magic {
  color: rgb(234, 234, 234);
  border-radius: 25px;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(52, 52, 52, 0.687);
}

.magicbox {
  color: rgb(234, 234, 234);
  border-radius: 25px;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(52, 52, 52, 0.687);
  padding-bottom: 5%;
}

.functionbutton {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#magic-input {
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #242424;
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  background-color: #f1f1f1;
  outline: none;
  transition: 0.4s;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.magic .functionbutton button {
  background-color: #007c4fa2; /* Green */
  text-decoration: wavy;
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: auto;
  font-size: 17px;
}
